<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
	<link href="css/sign.css" rel="stylesheet" />
	
	<title>Reset Successful</title>
</head>

<body>

	 <div class="logo_tag" style="text-align: center;">
	 	<a href="../Home Page/landing.html"><img src="../Images/logo2.png"></a>
	 </div>	
    	
    		<form action="../Logins/sign_in.html">
			    <div id="holder">
			    	<div class="email_tag" style="text-align: center;">
			    		<img src="../Images/done deskstop.png">
			    	</div>

			    	<div id="msg1"><h2>Password reset succesfull</h2>
			    		<p id="intro">
			    		Try not to forget your password again. <br>Anyways if you do we will always be here for you.	
			    		</p>
			    	</div>

			    	<div class="btn" style="text-align: center;top: 150px;position: relative;">
			    		
			    		<!-- Sign-in button -->
					<button type="submit" id="sign_btn"><h3>Continue to sign in </h3></button>
			    	</div>
					
				</div>
			</form>
				 
 
<script >
function submit(){
// alert ("Wadup");
document.getElementById("holder").reset();

}
</script>
</body>

</html>