<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link href="./dashboard.css" rel="stylesheet" />
	<title>Velox Exchange</title>
</head>
<body>
	<header>
		
		<img class="logo" src="../Images/logo.png">
		<nav>
			<ul class="nav_links">
				<li><a href="#">Dashboard</a></li>
				<li><a href="#">Refer and Earn</a></li>
				<li><a href="#">Support</a></li>
				<li><a href="#">Sign out</a></li>
			</ul>
		</nav>
	</header>
	
	<input id="go_back" type="button" value="&#60;">

	<div class="confirmation">
		<h1>₦15,600</h1>
		<p id="payment-type">Bank transfer</p>
		<p>Kindly pay the above amount to the payment details below</p>
		<div class="order-info">
			<div class="order-info-keys" style="float: left;left: 40px;position: absolute;text-align: left;">
				
				<p>Bank name</p>
				<br>
				<p>Account number</p>
				<br>
				<p>Account name</p>
			</div>


			<div class="order-info-values" style="float: right;text-align: right;position: absolute;right: 40px;">
				<p>Kuda Microfinance Bank</p>
				<br>
				<p>1114721351</p>
				<br>
				<p>Velox Exchange</p>
			</div>

		</div>

	</div>
	<div class="confirmation-btn">
		<input id="radio-btn" type="radio">
		<p>I agree that the above amount was paid successfully from an account in<br>the name I used while signing up on Velox to the payment details above</p>

		<button>Confirm</button>

	</div>

	

</body>
</html>