<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<link href="./dashboard.css" rel="stylesheet" />
	<title>Velox Exchange</title>
</head>

<body>
	<header>
		
		<img class="logo" src="../Images/logo.png">
		<nav>
			<ul class="nav_links">
				<li><a href="#">Dashboard</a></li>
				<li><a href="#">Refer and Earn</a></li>
				<li><a href="#">Support</a></li>
				<li><a href="#">Sign out</a></li>
			</ul>
		</nav>
	</header>

	<div class="action-bar">
		<h2>What’s good,<br>Toluwalope</h2>
	
		<div class="action-btns">
			<button id="sell-btn" onclick="buyform.html"><h3>Sell</h3></button>
			<button id="buy-btn" onclick="sellform.html"><h3>Buy</h3></button>
			
		</div>
	</div>

	<div class="txn-history">
		<div class="empty-txns">
			<img class="no-txns" src="../Images/Group 33.png">
			<h3>No transaction History</h3>
			<p>Don’t just make this place look empty. Trade!!</p>
		</div>
	</div>



</body>
</html>