<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link href="./dashboard.css" rel="stylesheet" />
	<title>Velox Exchange</title>
</head>
<body>
	<header>
		
		<img class="logo" src="../Images/logo.png">
		<nav>
			<ul class="nav_links">
				<li><a href="#">Dashboard</a></li>
				<li><a href="#">Refer and Earn</a></li>
				<li><a href="#">Support</a></li>
				<li><a href="#">Sign out</a></li>
			</ul>
		</nav>
	</header>

	<div class="action-bar">
		<h2>What’s good,<br>Toluwalope</h2>
	
		<div class="action-btns">
			<a href="../Dashboard/buyform.html">
				<button id="sell-btn"><h3>Sell</h3></button>
			</a>

			<a href="../Dashboard/sellform.html">
				<button id="buy-btn"><h3>Buy</h3></button>
			</a>
			
		</div>
	</div>

	
<div class="txn-history">
	<div class="my-txns">
		<h3 style="text-align: left;">Transaction History</h3>
		<div class="txns">
			<div class="txns-order">
				<p id="cost">Bought $29</p>
				<p id="currency">USDT<span class="status-orange"> &#8226; Pending</span></p>
			</div>
			<div class="order-stamp">
				<h3>₦15,600</h3>
				<p>Just now</p>
			</div>
		</div>

		<div class="txns">
			<div class="txns-order">
				<p id="cost">Bought $29</p>
				<p id="currency">USDT<span class="status-green"> &#8226; Completed</span></p>
			</div>
			<div class="order-stamp">
				<h3>₦15,600</h3>
				<p>Just now</p>
			</div>
		</div>

		<div class="txns">
			<div class="txns-order">
				<p id="cost">Bought $29</p>
				<p id="currency">USDT<span class="status-red"> &#8226; Failed</span></p>
			</div>
			<div class="order-stamp">
				<h3>₦15,600</h3>
				<p>Just now</p>
			</div>
		</div>
		
	</div>

</div>
<span class="more"><h3><a style="color: #828282;font-family: Poppins;font-size: 18px;font-weight: normal;" href="#">View more</a></h3></span>




</body>
</html>

